/*----common------------*/

::selection {
    background: #8e2650;
    color: #fff;
}

a {
    color: #707c88;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    border: 1px solid #8e2650;
    background: #8e2650;
}

.btn.btn-primary {
    border: 1px solid #8e2650;
    background: #8e2650;
}

.form-control:hover,
.form-control:focus {
    border: 1px solid #8e2650;
    -webkit-box-shadow: 0 1px 1px rgba(142, 38, 80, .075);
    box-shadow: 0 1px 1px rgba(142, 38, 80, .075);
}

a.btn.call-btn {
    color: #8e2650;
}

.pagination li:first-child a {
    background: #8e2650;
    border: 1px solid #8e2650;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.pagination>li>a:hover,
.pagination>li>a:focus {
    color: #8e2650;
    background-color: rgba(142, 38, 80, 0.1);
    border-color: #8e2650;
}

.inner-header-title {
    border-bottom: 4px solid #8e2650;
}

.inner-header-title.blank {
    border-bottom: 4px solid #8e2650;
    background: #8e2650;
}

.action-btn .dropdown-menu>li>a:hover,
.action-btn .dropdown-menu>li>a:focus {
    background: #8e2650;
    color: #ffffff;
}

/*-------- Navigation ----------*/

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #8e2650 !important;
}

/*----------Pages Styles------------*/

.main-heading h2>span {
    color: #8e2650;
}

.main-heading span.heading-line {
    background: #8e2650;
}

.banner-caption .btn-primary:focus,
.banner-caption .btn-primary:hover {
    background: #8e2650;
    border-color: #8e2650;
}

.banner-caption .btn-primary {
    background: #8e2650;
    border-color: #8e2650;
}

.job-feature:hover i {
    background: #8e2650;
}

.feature-icon i {
    color: #8e2650;
    background: rgba(142, 38, 80, 0.07);
}

.work-process-icon span {
    color: #8e2650;
}

.work-process-caption h4:before {
    background: #8e2650;
}

.download-app:before {
    background: #8e2650;
}

.app-content a.btn.call-btn:hover {
    color: #8e2650;
}

.footer-form .btn-primary:hover,
.footer-form .btn-primary:focus {
    border-color: #10c110;
    background: #8e2650;
}

.simple-banner h1 span {
    color: #8e2650;
}

.bottom-search-form button.btn.btn-primary {
    background: #8e2650;
    border: 1px solid #8e2650;
}

a.video-btn:hover i {
    background: #8e2650;
}

a.video-btn i {
    color: #8e2650;
    box-shadow: 0px 0px 20px 0px rgba(142, 38, 80, 0.4);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(142, 38, 80, 0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(142, 38, 80, 0.4);
}

.home-three-banner h1 span {
    color: #8e2650;
}

.home-three-banner button.btn.btn-primary {
    background: #8e2650;
    border: 1px solid #8e2650;
}

.gr-dark {
    background: #8e2650;
}

.gr-dark a.btn.bat-call-to-act {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.gr-dark .call-to-act-caption h3 {
    color: rgba(255, 255, 255, 0.7);
}

.home-plane-banner h1 span {
    color: #8e2650;
}

a.btn.btn-banner {
    background: #8e2650;
}

#accordion .panel-heading>.panel-title>a {
    background: #8e2650;
}

#accordion .panel-title>a.collapsed:hover {
    color: #8e2650;
}

#accordion3 .panel-heading>.panel-title>a {
    background: #8e2650;
}

#accordion .panel-title>a.collapsed {
    background: #e7ecea;
    color: #707c88;
}

#accordion3 .panel-title>a.collapsed {
    background: #35434e;
    color: #707c88;
}

.brows-company:hover {
    border-left: 4px solid #8e2650;
}

.brows-job-list:hover {
    border-left: 4px solid #8e2650;
}

.brows-resume:hover {
    border-left: 4px solid #8e2650;
}

.brows-resume span.brows-resume-designation {
    color: #8e2650;
}

.brows-resume .browse-resume-rate span i {
    color: #8e2650;
}

.detail-status span {
    color: #8e2650;
    background: rgba(142, 38, 80, 0.2);
}

.container.white-shadow {
    border-bottom: 3px solid #8e2650;
}

h2.detail-title {
    border-left: 3px solid #8e2650;
}

ul.detail-list li:before {
    color: #8e2650;
}

.contact-box i {
    color: #8e2650;
}

.inputfile+label {
    background: #8e2650;
}

.detail-pic {
    border: 1px solid #8e2650;
}

.full-detail .input-group-addon {
    background: #8e2650;
    border-color: #8e2650;
}

button.add-field {
    background: #8e2650;
}

.btn-login {
    background: #8e2650;
}

button.btn.btn-login {
    background: #8e2650;
    border: 1px solid #8e2650;
}

.login-screen span a,
.signup-screen span a,
.lost-ps-screen span a {
    color: #8e2650;
}

.search-filter button.btn.btn-default {
    background: #8e2650;
    border: 1px solid #8e2650;
}

.search-filter .dropdown-menu>li>a:hover,
.search-filter .dropdown-menu>li>a:focus {
    background: #8e2650;
}

.manage-cndt .cndt-caption span {
    color: #8e2650;
}

.manage-cndt .cndt-profile-btn:hover,
.manage-cndt .cndt-profile-btn:focus {
    background: #8e2650;
}

.mng-company:hover,
.mng-company:focus {
    border-color: #8e2650;
}

.jn-employee:hover,
.jn-employee:focus {
    border-color: #8e2650;
}

.employee-social li a:hover i,
.employee-social li a:focus i {
    background: #8e2650;
}

.mng-resume h4 span.cand-designation {
    color: #8e2650;
}

.mng-resume:hover,
.mng-resume:focus {
    border-color: #8e2650;
}

.manage-resume-box:hover,
.manage-resume-box:focus {
    border-left: 3px solid #8e2650;
}

.pr-buy-button .pr-btn.active:hover,
.pr-buy-button .pr-btn.active:focus {
    background: #8e2650;
    border-color: #8e2650;
}

.pr-buy-button .pr-btn {
    border: 1px solid #8e2650;
    color: #8e2650;
}

.login-panel label {
    color: #8e2650;
}

.nav.simple.nav-tabs li.active a {
    background: #8e2650;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover {
    background: #8e2650;
}

.tab .nav-tabs li a {
    color: #8e2650;
}

.tab .nav-tabs li a:hover {
    background: #8e2650;
}

.pr-buy-button .pr-btn:hover,
.pr-buy-button .pr-btn:focus {
    background: #8e2650;
}

.search-form button.btn.btn-default {
    background: #8e2650;
    border: 1px solid #8e2650;
}

ul.sidebar-list li a span {
    color: #8e2650;
}

.blog-post-date {
    background: #8e2650;
}

.post-meta span.author,
.post-meta span.category a {
    color: #8e2650;
}

.post-info {
    color: #8e2650;
}

.blog-content h2:hover,
.blog-content h2:focus {
    color: #8e2650;
}

.comments-form button.thm-btn.btn-comment {
    border: 2px solid #8e2650;
    background: #8e2650;
}

.comments-form button.thm-btn.btn-comment:hover,
.comments-form button.thm-btn.btn-comment:focus {
    color: #8e2650;
    border: 2px solid #8e2650;
}

.rating.pull-right li i.active {
    color: #8e2650;
}

ul.list-inline.social li i:hover,
ul.list-inline.social li i:focus {
    background: #8e2650;
}

.inner-header-title.advance-header-title h2 span,
.inner-header-title.advance-header-title p span {
    color: #8e2650;
}

.right-sidebar h2.side-widget-title {
    background: #8e2650;
}

button.btn.btn-alrt {
    background: #8e2650;
}

.fileUpload span {
    background: #8e2650;
}

.modal .submit-btn:hover {
    background: #8e2650;
}

.breadcrumb>.active {
    color: #8e2650;
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #8e2650;
    background: #8e2650;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    background: #8e2650;
}

ul.detail-footer-social li a i:hover {
    background: #8e2650;
}

.error-page h2 span {
    color: #8e2650;
}

.error-page a.btn.btn-success.small-btn {
    background: #8e2650;
    border-color: #8e2650;
}

.deatil-tab-employ.tool-tab .nav.simple.nav-tabs li.active a {
    background: rgba(142, 38, 80, 0.15);
    color: #8e2650;
    border-color: #8e2650;
}

button.update-btn {
    background: #8e2650;
}

span.info-bar {
    border: 1px solid #8e2650;
    background: rgba(142, 38, 80, 0.15);
    color: #8e2650;
}

/*--------Responsive color Style-----------*/

@media only screen and (min-width: 768px) {
    /*------------Navigation------*/
    body nav.navbar.bootsnav ul.nav>li>a.signin {
        background: #8e2650 !important;
    }
    li.left-br {
        border-left: 1px solid rgba(142, 38, 80, 0.4);
    }
}

@media only screen and (min-width: 1024px) {
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
        border-color: #8e2650;
    }
}